# Data (never commit raw data)
data/raw/
data/external/
data/interim/
data/clean

# Python
__pycache__/
*.pyc
*.pyoSS
*.pyd
.env
.venv/
venv/

logs

# IDE
.idea/
.vscode/

Project Analysis metrics.docx
# OS
.DS_Store
Thumbs.db